<div class="auth-main">
    <div class="auth-wrapper v3">
        <div class="auth-form">
            <div class="auth-header">
                <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
            </div>
            <div class="card my-5">
                <div class="card-body">
                    <form [formGroup]="ResetForm">
                        <div class="d-flex justify-content-between align-items-end mb-4">
                            <h3 class="mb-0"><b>Reset Password</b></h3>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="text">New Password</label>
                            <input type="password" class="form-control" formControlName="newPassword" id="newPassword"
                                placeholder="Enter new password" />
                            @if(ResetForm.get('password')){
                                @if(ResetForm.get('password')?.touched && ResetForm.get('password')?.hasError('required')){
                                    <div class="text-danger">Required</div>
                                }
                                @if(ResetForm.get('password')?.hasError('pattern') && ResetForm.get('password')?.hasError){}
                            }
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="text">Re-Enter Password</label>
                            <input type="password" class="form-control" id=""
                                placeholder="Re-Enter new password" />
                        </div>
                        <a [routerLink]="['/login']" class="btn btn-primary w-100">Reset password</a>
                        <div class="d-flex justify-content-between mt-4">
                            <a class="link-primary" [routerLink]="['/forget-password']">Change the email</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="auth-footer row">
                <div class="col my-1">
                    <p class="m-0">Copyright © <a href="https://codedthemes.com/" target="_blank">CodedThemes</a></p>
                </div>
                <div class="col-auto my-1">
                    <ul class="list-inline footer-link mb-0">
                        <li class="list-inline-item"><a href="https://codedthemes.com/" target="_blank">Home</a></li>
                        <li class="list-inline-item"><a href="https://codedthemes.com/privacy-policy/"
                                target="_blank">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="https://codedthemes.support-hub.io/"
                                target="_blank">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>