<div class="auth-main">
    <div class="auth-wrapper v3">
        <div class="auth-form">
            <div class="auth-header">
                <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
            </div>
            <div class="card my-5">
                <div class="card-body">
                    <form [formGroup]="ForgetForm" (ngSubmit)="onSubmit()">
                        <div class="d-flex justify-content-between align-items-end mb-4">
                            <h3 class="mb-0"><b>Forget Password</b></h3>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="emailAddress">Email Address*</label>
                            <input type="email" class="form-control" id="emailAddress" formControlName="emailAddress"
                                placeholder="Email Address" />
                            @if (ForgetForm.get('emailAddress')) {
                            @if (ForgetForm.get('emailAddress')?.hasError('required') &&
                            ForgetForm.get('emailAddress')?.touched)
                            {
                            <div class="text-danger">Email Id is required</div>
                            }

                            <div *ngIf="ForgetForm.get('emailAddress')?.hasError('multiDomain')">
                                <div class="text-danger">Invalid email domain. Use 'ahex.co.in' or 'gmail.com'</div>
                            </div>
                            @if (ForgetForm.get('emailAddress')?.hasError('email') &&
                            ForgetForm.get('emailAddress')?.touched)
                            {
                            <div class="text-danger">Enter Valid email-id</div>
                            }
                            }
                        </div>
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                                [disabled]="ForgetForm.invalid">Submit</button>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <a class="link-primary" [routerLink]="['/login']">Login</a>
                            <a class="link-primary" [routerLink]="['/register']">Register</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="auth-footer row">
                <div class="col my-1">
                    <p class="m-0">Copyright © <a href="https://codedthemes.com/" target="_blank">CodedThemes</a></p>
                </div>
                <div class="col-auto my-1">
                    <ul class="list-inline footer-link mb-0">
                        <li class="list-inline-item"><a href="https://codedthemes.com/" target="_blank">Home</a></li>
                        <li class="list-inline-item"><a href="https://codedthemes.com/privacy-policy/"
                                target="_blank">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="https://codedthemes.support-hub.io/"
                                target="_blank">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>